<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" [title]="'Projects'" [showMenuButton]="false"
    (actionItemClick)="actionItemClicked($event)" class="action-bar"></EcapActionBar>

<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerLocation="Right" drawerContentSize="800" tkExampleTitle
    tkToggleNavButton>
    <StackLayout tkDrawerContent backgroundColor="#5a5f68">
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Label text="&#xf057;" fontSize="30"
                style="color:#FFFFFF;" class="fa p-16" (tap)="closeModal()"></Label>
        </StackLayout>
        <tns-platform-video (video)="received($event)">
        </tns-platform-video>
    </StackLayout>
    <StackLayout tkMainContent>
        <Button text="OPEN DRAWER" (tap)="showVideoModal()"></Button>
        <Button text="GO TO IMAGE APP" (tap)="goToImageApp()"></Button>
        <Label text="&#xeb7a;" fontSize="30"
              class="md-icon p-16"></Label>
        <!-- /storage/emulated/0/Android/data/ch.selise.smartcity/files/VID_1563173710311.mp4 -->
        <!-- /data/data/ch.selise.smartcity/files/app/tns-video/VID_1563183950252.mp4 -->
        <VideoPlayer
        src="{{savedVideoSrc}}"
        autoplay="true"
        height="300"></VideoPlayer>
        <!-- <Button text="GET AUDIOS" (tap)="getFiles()"></Button>
        <ns-audio-gallery [audioData]="audioData" [configuration]="configuration"></ns-audio-gallery> -->
    </StackLayout>
</RadSideDrawer>