<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerLocation="Left" [gesturesEnabled]="showNavigation">
    <!-- <EcapActionBar [actionBarConfiguration]= "actionBarConfiguration" class="action-bar"></EcapActionBar> -->
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <EcapSideBar [navigations]="navigations"></EcapSideBar>
    </GridLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>