@import '../../node_modules/nativescript-theme-core/scss/variables';

// Colors
$background: #fff;
$primary: lighten(#000, 13%);
$secondary: lighten(#000, 46%);
$disabled: lighten(#000, 62%);
$accent: #0066b3;

// SideDrawer
$item-color-android : #000;
$item-active-background: rgba($accent, 0.15);
$item-active-color: #000;
$item-active-icon-color: #fff;
$item-color-ios: #949494;
$image-background: #e0e0e0;

$side-drawer-header-background: #fafafa;
$side-drawer-header-brand: #737373;
$side-drawer-background: #fafafa;

// ActionBar
$ab-background: $accent;
$ab-color: $black;

// Accent

// Buttons
$btn-color-inverse: $white;
$btn-color: $accent;
$btn-color-secondary: darken($btn-color, 10%);
$btn-color-outline-highlighted: lighten($btn-color, 10%);

@import '../../node_modules/nativescript-theme-core/scss/index';
