<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" [title]="'Audits'" [showMenuButton]="true"
    (actionItemClick)="actionItemClicked($event)" class="action-bar"></EcapActionBar>

<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerLocation="Right" drawerContentSize="800" tkExampleTitle
    tkToggleNavButton>
    <StackLayout tkDrawerContent backgroundColor="#5a5f68">
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Label text="&#xf057;" fontSize="30"
                style="color:#FFFFFF;" class="fa p-16" (tap)="closeModal()"></Label>
        </StackLayout>
        <tns-platform-audio (audioFile)="received($event)" (flagtoContainer)="flagreceived($event)" [configuration]="configuration">
        </tns-platform-audio>
    </StackLayout>
    <StackLayout tkMainContent>
        <Button text="OPEN DRAWER" (tap)="showRecordModal()"></Button>
        <Button text="GET AUDIOS" (tap)="getFiles()"></Button>
        <ns-audio-gallery [audioData]="audioData" [configuration]="configuration"></ns-audio-gallery>
    </StackLayout>
</RadSideDrawer>