<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" [title]="'Image'" [showMenuButton]="true"
    (actionItemClick)="actionItemClicked($event)" class="action-bar"></EcapActionBar>

<StackLayout>
    <Button text="map works!" class="btn btn-primary"></Button>
</StackLayout>

<GridLayout>
    <MapView (mapReady)="onMapReady($event)"></MapView>
</GridLayout>
